<script>
    $("#stepbutton").click(function(e) {
        $("#stepbutton").after("<img src=\"/img/loading.gif\" height=\"30px\" width=\"30px\" style=\"margin:15px 0px 0px 20px;\"/>");
        $("#stepbutton").html("Geocoding map...");
        $("#stepbutton").attr("disabled", "disabled");
        console.log('success');
    });
</script>