<h3>Uh Oh. There was error.</h3>
<img src="/img/panic.gif" />
{{# errormessage }}
<p>Error: {{errormessage}}</p>
{{/ errormessage }}
<p>Maybe <a href="/">try again</a> or <a href="http://form.jotform.us/form/32635675114151">ask for help</a>?</p>
<script>
    mixpanel.track("Error encountered");
</script>
