<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://brightplum.com">by brightplum.com</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.slimframework.com/">Slim</a></li>
            <li><a href="http://mustache.github.io/">Mustache</a></li>
            <li><a href="http://leafletjs.com/">Leaflet</a></li>
            <li><a href="https://mongolab.com/">MongoLab</a></li>
            <li><a href="http://jotmap.jotform.io/map?jotaddresschoice=5&jotlabelchoice=4&user=brightplum&jotformapi=a50a5a7b21c99198bde7b6e8ce&jotformchoice=32385887427165">Sample JotMap</a></li>
            <li><a href="http://form.jotform.us/form/32635675114151">JotMap Help</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>