<div class="row-fluid">
    <div class="col-lg-8">
        <p class="lead">
            Build a map of your JotForm submissions!
        </p>
        <h3>Step 1 of 3: Enter your JotForm API Key</h3>
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="jotformAPIKey" placeholder="Enter API Key">
            </div>
            <button type="submit" class="btn btn-success btn-lg">Begin</button>
        </form>
    </div>
</div>