{{# user }}
<input type="hidden" name="user" value="{{user}}" />
{{/ user }}

{{# key }}
<input type="hidden" name="jotformapi" value="{{key}}" />
{{/ key }}

{{# choice }}
<input type="hidden" name="jotformchoice" value="{{choice}}" />
{{/ choice }}