<div class="col-lg-offset-2 col-lg-6">
    <div class="radio">
        <label>
            <input type="radio" name="jotformchoice" value="{{id}}" {{# checked }}checked="checked"{{/ checked }}>{{title}}
        </label>
    </div>
</div>