<label class="radio-inline">
    {{^ qid }}
    <input type="radio" name="jotformchoice" value="{{id}}" />{{title}}
    {{/ qid }}
    {{# qid }}
    <input type="radio" name="jotaddresschoice" value="{{qid}}" />{{title}}
    {{/ qid }}
</label>