<div id="map">{{errormessage}}</div>
<script>
    mixpanel.track('Map viewed', {'page name' : document.title, 'url' : window.location.pathname, 'parameters' : window.location.search.replace( "?", "" )});
</script>