<hr/>
<h4>Your JotMap Data</h4>

<dl class="dl-horizontal">

{{# user }}
<dt>User:</dt>
    <dd>{{user}}</dd>
{{/ user }}

    {{# key }}
    <dt>API Key:</dt>
    <dd>{{key}}</dd>
    {{/ key }}

    {{# choice }}
    <dt>Form ID:</dt>
    <dd>{{choice}}</dd>
    {{/ choice }}
</dl>