<h3>Step 1 of 3: Enter your JotForm API Key</h3>
<form role="form" action="/form" method="get">
    <div class="form-group">
        <input type="text" class="form-control input-lg" id="jotformAPIKey" placeholder="Enter API Key" name="jotformapi">
    </div>
    <button type="submit" class="btn btn-success btn-lg">Step 2</button>
</form>