{{> pagetitle }}

<form id="step2form" role="form" action="/step3" method="get" class="form-horizontal">
    {{# list }}
        {{> list-data}}
    {{/ list }}

    {{> hidden }}

    <div class="form-group">
        {{> button }}
    </div>

</form>

<script>
    mixpanel.track('Step2 viewed', {'page name' : document.title, 'url' : window.location.pathname, 'parameters' : window.location.search.replace( "?", "" )});
    mixpanel.identify('{{user}}');
    mixpanel.register({
        'api': '{{key}}'
    });
    mixpanel.track_forms("#step2form", "Step2 form submission");
    $("#stepbutton").click(function() {
        mixpanel.track("Step button clicked");
    });
</script>