{{> pagetitle }}

<form role="form" action="/step3" method="get" class="form-horizontal">
    {{# list }}
        {{> list-data}}
    {{/ list }}

    {{> hidden }}

    <div class="form-group">
        {{> button }}
    </div>

</form>