{{> pagetitle }}

<form role="form" action="/step3" method="get" class="form-horizontal">
    {{# list }}
        {{> list-data}}
    {{/ list }}
    <div class="form-group">
        <label class="col-lg-2 control-label">User</label>
        <div class="col-lg-6">
            <p class="form-control-static">{{user}}</p>
            <input type="hidden" name="user" value="{{user}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">API Key</label>
        <div class="col-lg-6">
            <p class="form-control-static">{{key}}</p>
            <input type="hidden" name="jotformapi" value="{{key}}" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-6">
            <button type="submit" class="btn btn-success btn-lg">Next&nbsp;&rsaquo;&rsaquo;</button>
        </div>
    </div>

</form>