<table id="jotmap-data-table" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Coordinates</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{# tabledata }}
    {{> table-row }}
    {{/ tabledata }}
    </tbody>
</table>