<div class="row-fluid">
    <div class="col-lg-8">
        <div id="map"></div>
    </div>
    <div class="col-lg-4">
        <h2>{{title}}</h2>
        <address>
            <strong>Hythe Window Cleaning</strong><br>
            15 Springfield Way<br>
            Hythe<br>
            Kent<br>
            United Kingdon<br>
            CT21 5SH<br>
            <abbr title="Phone">P:</abbr> 01234 567 890
        </address>
    </div>
</div>

<script>
    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('http://{s}.tile.cloudmade.com/41339be4c5064686b781a5a00678de62/997/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    }).addTo(map);
</script>