<div class="row-fluid">
    <div class="col-lg-8">
        <div id="map"></div>
    </div>
    <div class="col-lg-4">
        <h2>{{title}}</h2>
        <address>
            <strong>Hythe Window Cleaning</strong><br>
            15 Springfield Way<br>
            Hythe<br>
            Kent<br>
            United Kingdon<br>
            CT21 5SH<br>
            <abbr title="Phone">P:</abbr> 01234 567 890
        </address>
    </div>
</div>