<!DOCTYPE html>
<html>

<head>
    <title>Jotmap | A simple map for Jotform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    {{# leaflet }}
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <script src="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    {{/ leaflet }}
    <link rel="stylesheet" href="../css/jotmap.css">
</head>

<body>

<div class="container">

    <div class="row">

        <div class="col-lg-12 page-header"><h1 id="header"><a href="/">JotMap</a> <small>A simple map for JotForm</small></h1></div>
        <div class="row-fluid">
            <div class="col-lg-3" id="sidebar">
                <p>To create a Jotmap, you'll need Jotform submissions with address fields.</p>
                <p>The first 20 JotForm submissions will be mapped.</p>
                {{^ sidebar-hidden }}
                {{> sidebar }}
                {{/ sidebar-hidden }}
            </div>
            <div class="col-lg-8 col-lg-offset-1">

                {{# error }}
                {{> error }}
                {{/ error }}

                {{^ error }}
                {{^ mapview }}
                {{^ key }}
                {{> step1 }}
                {{/ key }}
                {{/ mapview }}

                {{# key }}
                {{^ choice }}
                {{> step2 }}
                {{/ choice }}
                {{/ key }}

                {{# choice }}
                {{^ cloudmade_api_key }}
                {{> step3 }}
                {{/ cloudmade_api_key }}
                {{/ choice }}

                {{# cloudmade_api_key }}
                {{> map }}
                {{> table }}
                {{/ cloudmade_api_key }}
                {{/ error }}

            </div>
        </div>

    </div>

    {{> footer }}

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{{# markerdata }}
{{> mapdata }}
{{/ markerdata }}

{{# jotformauth }}
{{> jotformauth }}
{{/ jotformauth }}

{{# embed }}
{{> embed }}
{{/ embed }}

{{# buttonjs }}
{{> buttonjs }}
{{/ buttonjs }}
</body>

</html>