<!DOCTYPE html>
<html>

<head>
    <title>Jotmap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link rel="stylesheet" href="../css/jotmap.css">
    <script src="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
</head>

<body>

<div class="container">

    <div class="row">

        <div class="col-lg-12"><h1>JotMap</h1></div>
        <div class="row-fluid">
            <div class="col-lg-8">

                <p class="lead">
                    Build a map of your JotForm submissions!
                </p>

                {{^ tabledata }}
                {{> form }}
                {{/ tabledata }}

                {{# tabledata }}
                {{> map }}
                {{> table }}
                {{/ tabledata }}
                
            </div>
        </div>

    </div>

</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{{> mapdata }}
</body>

</html>